n8n/workflow-4-ad-command.json
{
  "name": "Slack — /ad Command",
  "nodes": [
    {
      "id": "node-wh-04",
      "name": "Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ad",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-http-04-linear",
      "name": "Fetch Linear Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Linear API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ issues(filter: { team: { id: { eq: \"a545ae90-ba50-4427-83e6-c0ce7dde9528\" } }, state: { type: { nin: [\"completed\", \"cancelled\"] } } }, first: 250) { nodes { id } } }' }) }}",
        "options": {}
      }
    },
    {
      "id": "node-code-04-msg",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "jsCode": "const nodes = $input.first().json.data?.issues?.nodes ?? [];\nconst count = nodes.length;\n\nconst messages = [\n  \"Somewhere, a developer is refreshing their PR page for the 47th time today. {count} PRs are waiting for your eyes. Run `/roll` today — they'll finally sleep tonight.\",\n  \"Each community PR reviewed = one open source contributor who doesn't quit forever. {count} are waiting. Run `/roll` and keep the dream alive.\",\n  \"Fun fact: {count} community PRs were written with love, caffeine, and questionable commit messages. Show them some love — give `/roll` a spin today.\",\n  \"The universe is vast and cold. But {count} community PRs are warm and ready for review. Be the warmth — type `/roll` today.\",\n  \"Legend says every unreviewed PR adds a year to a contributor's waiting time. {count} legends are unfolding. Run `/roll` and break the curse.\",\n  \"Scientists confirm: reviewing a community PR boosts reviewer karma by 47%. {count} PRs available. Run `/roll` for maximum karma.\",\n  \"{count} community PRs walk into a bar. The bartender says 'we don't serve PRs here.' Don't be that bartender — run `/roll` and serve them well.\",\n  \"Plot twist: the community PR you review today might fix the bug that's been annoying you for months. {count} candidates. Run `/roll` to find out.\",\n  \"Each time a community PR gets reviewed, a developer somewhere finally sleeps soundly. {count} developers are still awake. Run `/roll` and send them to bed.\",\n  \"Unreviewed PRs don't disappear — they just get sadder. {count} of them are feeling existential right now. Run `/roll` and give one a reason to smile.\",\n  \"A community contributor submitted a PR and went to make coffee. They've been back for hours. {count} PRs, still waiting. Run `/roll` — the coffee's getting cold.\",\n  \"Every great open source project was built on reviewed PRs and broken dreams. Help with the first part — {count} are waiting. Run `/roll` today.\",\n  \"Ghost stories for developers: {count} PRs, submitted months ago, never reviewed, drifting through the codebase... Run `/roll` before they start haunting us.\",\n  \"In a parallel universe, every community PR gets reviewed in 24 hours. {count} waiting here. Run `/roll` and make this universe a little more like that one.\",\n  \"Reviewing a community PR has been scientifically linked to: good vibes, better karma, and at least one contributor not rage-quitting open source. {count} available — run `/roll` for science.\",\n  \"If {count} PRs were pizza slices, that'd be a lot of cold pizza. Run `/roll` and heat one up before it's too late.\",\n  \"A contributor pushed their first ever PR to Strapi. It's in that pile of {count}. Run `/roll` — be the reason they come back.\",\n  \"The PR queue has {count} items. The coffee machine has 0 excuses. Pour a cup and run `/roll`.\",\n  \"Somewhere a contributor is telling their rubber duck 'don't worry, they'll review it soon.' The duck is skeptical. {count} PRs. Prove the duck wrong — run `/roll`.\",\n  \"Community PRs are like plants — ignore them long enough and they die. {count} are looking thirsty. Run `/roll` and water one today.\",\n  \"Breaking news: {count} community PRs found waiting patiently in Linear. Experts recommend running `/roll` as immediate treatment.\",\n  \"Every unreviewed PR is a tiny cry for help wrapped in a diff. {count} tiny cries. Run `/roll` and answer one.\",\n  \"A contributor spent their weekend on a PR. You could spend 20 minutes on it. {count} are waiting — run `/roll` and make that trade.\",\n  \"Fun activity: pick a PR, review it, feel like a hero. {count} opportunities right now. Start with `/roll`.\",\n  \"The Strapi community has spoken — in code. {count} times. Time to write back — run `/roll` to start the conversation.\",\n  \"{count} PRs. One `/roll`. Somewhere, a butterfly effect of merged code begins. Be that butterfly.\",\n  \"Archaeologists in 3024 will discover {count} unreviewed PRs and wonder what went wrong. Don't give them the satisfaction — run `/roll` today.\",\n  \"You ever just want to make someone's day? There are {count} contributors hoping you will. Run `/roll` and pick one.\",\n  \"The queue doesn't clear itself. Trust me, we checked. {count} PRs, zero self-reviewing. Someone's gotta run `/roll` — might as well be you.\",\n  \"Plot twist: you ARE the senior dev contributors are hoping will review their PR. {count} are counting on you. Run `/roll` and live up to it.\",\n  \"Community PRs are the love language of open source. {count} messages of love, unread. Run `/roll` and write back.\",\n  \"Every merged community PR is a tiny victory for the open web. {count} victories are pending. Run `/roll` and claim one.\",\n  \"A wise person once said: 'be the reviewer you wish to see in the world.' {count} PRs are waiting. Run `/roll` and be that person.\",\n  \"Studies show teams who review community PRs are 100% cooler than those who don't. {count} chances to be cooler — run `/roll`.\",\n  \"Somewhere a contributor refreshed their PR page again. And again. {count} PRs. End the refresh loop — run `/roll`.\",\n  \"Hot take: the best part of open source is the community. The second best part is reviewing their PRs. {count} waiting — run `/roll` and enjoy both.\",\n  \"If you review a PR in the forest and no one hears it, does the contributor still get a notification? Yes. {count} waiting. Run `/roll` and let them know.\",\n  \"Time is a flat circle. The PR queue is not — it has {count} items and it grows. Run `/roll` before it becomes a sphere.\",\n  \"Each community PR reviewed = one less developer switching to a competitor's framework. {count} on the edge. Run `/roll` and keep them here.\",\n  \"The gap between 'submitted' and 'reviewed' is where open source dreams go to question themselves. {count} PRs. Run `/roll` and close the gap.\",\n  \"Not all heroes wear capes. Some just run `/roll` and review a PR. {count} heroic moments available right now.\",\n  \"Contributors who get their PR reviewed are 3× more likely to submit another one. {count} future contributors waiting on you — run `/roll`.\",\n  \"The PR queue is judging us silently. {count} items deep. Run `/roll` and show it who's boss.\",\n  \"Dear diary: today I ran `/roll`, reviewed a PR, and felt genuinely good about it. {count} diary entries waiting to be written.\",\n  \"Confession: {count} PRs have been waiting longer than your last Netflix binge. Run `/roll` — you owe them at least one episode's worth of attention.\",\n  \"What if the real treasure was the community PRs we reviewed along the way? {count} treasures await. Run `/roll` and start digging.\",\n  \"In the time it took to read this message, a contributor hit refresh again. {count} PRs. Run `/roll` before the next one.\",\n  \"A PR a day keeps the stale queue away. {count} options today — run `/roll` and pick yours.\",\n  \"Open source runs on caffeine and reviewed PRs. The caffeine's covered. {count} PRs need you — run `/roll` and pull your weight.\",\n  \"The community built something and trusted us with it. {count} times over. Run `/roll` and show up for them.\"\n];\n\nconst text = messages[Math.floor(Math.random() * messages.length)]\n  .replace('{count}', String(count));\n\nreturn [{ json: { slackResponse: { response_type: 'in_channel', text } } }];"
      }
    },
    {
      "id": "node-respond-04",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ JSON.stringify({ response_type: \"ephemeral\", text: \"\" }) }",
        "options": {}
      }
    },
    {
      "id": "node-http-04-slack",
      "name": "Post to #cms-team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Slack Bot"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: '#cms-team', text: $('Build Message').first().json.slackResponse.text }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Slash Command": {
      "main": [
        [
          {
            "node": "Fetch Linear Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Linear Issues": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Post to #cms-team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}