n8n/workflow-4-ad-command.json
{
  "name": "Slack — /ad Command",
  "nodes": [
    {
      "id": "node-wh-04",
      "name": "Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ad",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-http-04-linear",
      "name": "Fetch Linear Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Linear API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ issues(filter: { team: { id: { eq: \"a545ae90-ba50-4427-83e6-c0ce7dde9528\" } }, state: { type: { nin: [\"completed\", \"cancelled\"] } } }, first: 250) { nodes { id identifier title url priorityLabel labels { nodes { name } } } } }' }) }}",
        "options": {}
      }
    },
    {
      "id": "node-code-04-msg",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "parameters": {
        "jsCode": "const nodes = $input.first().json.data?.issues?.nodes ?? [];\nconst filtered = nodes.filter(issue =>\n  issue.labels?.nodes?.some(l => l.name.toLowerCase().includes('passing'))\n);\nconst count = filtered.length;\n\nconst messages = [\n  'Somewhere, a developer is refreshing their PR page for the 47th time today. {count} PRs are waiting for your eyes. `/roll` to pick one.',\n  'Each community PR reviewed = one open source contributor who doesn\\'t quit forever. {count} are waiting. Don\\'t let them down.',\n  'Fun fact: {count} community PRs were written with love, caffeine, and questionable commit messages. Show them some love — `/roll`.',\n  'The universe is vast and cold. But {count} community PRs are warm and ready for review. Be the warmth. `/roll`',\n  'Legend says every unreviewed PR adds a year to a contributor\\'s waiting time. {count} legends are unfolding right now. Break the curse — `/roll`',\n  'Scientists confirm: reviewing a community PR increases reviewer karma by 47%. {count} PRs available. `/roll`',\n  '{count} community PRs walk into a bar. The bartender says \\'we don\\'t serve PRs here.\\' Don\\'t be that bartender. `/roll`',\n  'Plot twist: the community PR you review today might fix the bug that\\'s been annoying you for months. {count} available. `/roll`',\n  'Each time a community PR gets reviewed, a developer somewhere finally sleeps soundly at night. {count} developers await. `/roll`',\n  'Unreviewed PRs don\\'t disappear — they just get sadder. {count} of them are feeling existential right now. `/roll` and make a difference.',\n  'A community contributor submitted a PR and went to make coffee. They\\'re still waiting. {count} PRs, infinite coffees. `/roll`',\n  'Every great open source project was built on reviewed PRs and broken dreams. Help with the first part. {count} waiting. `/roll`',\n  'Ghost stories for developers: {count} PRs, submitted months ago, never reviewed, drifting through the codebase... `/roll` before it\\'s too late.',\n  'In a parallel universe, every community PR gets reviewed in 24 hours. Be that universe. {count} waiting. `/roll`',\n  'Reviewing a community PR has been scientifically linked to: good vibes, better karma, and at least one contributor not rage-quitting open source. {count} available. `/roll`',\n  'If {count} PRs were pizza slices, that\\'d be a lot of cold pizza. Don\\'t let good contributions go cold. `/roll`',\n  'A contributor pushed their first ever PR to Strapi. It\\'s in that pile of {count}. Be the reason they come back. `/roll`',\n  'The PR queue has {count} items. The coffee machine has 0 excuses. `/roll`',\n  'Somewhere a contributor is telling their rubber duck \\'don\\'t worry, they\\'ll review it soon.\\' The duck is skeptical. {count} PRs. `/roll`',\n  'Community PRs are like plants — ignore them long enough and they die. {count} are looking a little thirsty. `/roll`',\n  'Breaking news: {count} community PRs found waiting patiently in Linear. Experts recommend `/roll` as immediate treatment.',\n  'Every unreviewed PR is a tiny cry for help wrapped in a diff. {count} tiny cries. `/roll`',\n  'A contributor spent their weekend on a PR. You could spend 20 minutes on it. {count} are waiting. `/roll`',\n  'Fun activity: `/roll` a PR, review it, feel like a hero. {count} hero opportunities available right now.',\n  'The Strapi community has spoken — in code. {count} times. Time to write back. `/roll`',\n  '{count} PRs. One `/roll` command. Somewhere, a butterfly effect of merged code begins.',\n  'Archaeologists in 3024 will discover {count} unreviewed PRs and wonder what went wrong. Don\\'t let them be right. `/roll`',\n  'You ever just want to make someone\\'s day? There are {count} contributors hoping you will. `/roll`',\n  'The queue doesn\\'t clear itself. Trust me, we checked. {count} PRs, zero self-reviewing. `/roll`',\n  'Plot twist: you ARE the senior dev that contributors are hoping will review their PR. {count} are counting on you. `/roll`',\n  'Community PRs are the love language of open source. {count} messages of love, unread. `/roll`',\n  'Every merged community PR is a tiny victory for the open web. {count} victories are pending. `/roll`',\n  'A wise person once said: \\'be the reviewer you wish to see in the world.\\' {count} PRs. Be wise. `/roll`',\n  'Studies show that teams who review community PRs regularly are 100% cooler than those who don\\'t. {count} chances to be cool. `/roll`',\n  'Somewhere a contributor refreshed their PR page again. And again. {count} PRs. End the refresh loop. `/roll`',\n  'Hot take: the best part of open source is the community. The second best part is reviewing their {count} PRs. `/roll`',\n  'If you review a PR in the forest and no one hears it, does the contributor still get a notification? Yes. {count} waiting. `/roll`',\n  'Time is a flat circle. The PR queue is not — it has {count} items and it grows. `/roll`',\n  'Each community PR reviewed = one less developer who switches to a competitor\\'s framework. {count} developers on the edge. `/roll`',\n  'The gap between \\'submitted\\' and \\'reviewed\\' is where open source dreams go to question themselves. Close the gap. {count} PRs. `/roll`',\n  'Not all heroes wear capes. Some just type `/roll` and review a PR. {count} hero moments available.',\n  'Fun fact: contributors who get their PR reviewed are 3× more likely to submit another one. {count} future contributors are waiting. `/roll`',\n  'The PR queue is judging us silently. {count} items deep. Let\\'s do something about it. `/roll`',\n  'Dear diary: today I reviewed a community PR and felt genuinely good about it. {count} diary entries waiting to be written. `/roll`',\n  'Confession: {count} PRs have been waiting longer than your last Netflix binge. Priorities. `/roll`',\n  'What if the real treasure was the community PRs we reviewed along the way? {count} treasures await. `/roll`',\n  'In the time it took to read this message, a contributor hit refresh again. {count} PRs. `/roll`',\n  'A PR a day keeps the stale queue away. {count} options. `/roll`',\n  'Open source runs on caffeine and reviewed PRs. We\\'ve got the caffeine covered. {count} PRs need you. `/roll`',\n  'The community built something and trusted us with it. {count} times over. Time to show up. `/roll`'\n];\n\nconst text = messages[Math.floor(Math.random() * messages.length)]\n  .replace('{count}', String(count));\n\nreturn [{ json: { slackResponse: { response_type: 'in_channel', text } } }];"
      }
    },
    {
      "id": "node-respond-04",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.slackResponse) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Slash Command": {
      "main": [
        [{ "node": "Fetch Linear Issues", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Linear Issues": {
      "main": [
        [{ "node": "Build Message", "type": "main", "index": 0 }]
      ]
    },
    "Build Message": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
